<html>
    <head>
        
    </head>
    <body>
        <h1>
            This is a home page.
        </h1>
        <form action = '/submit' method = 'post'>
            <!-- <input type = "text" name = "fname" placeholder = "first name" required ='required'>
            <input type = "text" name = "sname" placeholder = "second name" required ='required'>
            <input type = "number" name = "phno" placeholder = "phone number" required ='required'>
            <input type = "email" name = "email" placeholder = "email" required ='required'>
            <input type = "number" name = "dob" placeholder = "D.O.B"> -->
            <input type = "number" name = "a" placeholder = "a" required ='required'>
            <input type = "number" name = "b" placeholder = "b" required ='required'>
            <input type = "number" name = "c" placeholder = "c" required ='required'>
            <input type = "number" name = "d" placeholder = "d" required ='required'>
            <input type = "number" name = "e" placeholder = "e" required ='required'>
            <input type = "number" name = "f" placeholder = "f" required ='required'>
            <input type = "number" name = "g" placeholder = "g" required ='required'>
            <input type = "number" name = "h" placeholder = "h" required ='required'>
            <button type = 'submit'> predict </button>
        </form>

    </body> 
</html>